<!DOCTYPE html>
<html lang="en">

<head>
  <title>MVC - TEMPLATE</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- START FROM DEPEDENCY DECLARED IN INDEX.JS -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <main id="main">
    <h1> MVC TEMPLATE </h1>
  </main>
</body>

</html>